:root {
  --black: #080808;
  --white: #faf4f4;
  --papayawhip: #fde8e8;
  --grey: #676464;
  --grey-light: #cabcbc;
  --grey-dark: #3d3535;
  --grey-darker: #171717;
  --green: #0f9d58;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

body {
  background-color: var(--grey);
}

header {
  height: 5vh;
}

main {
  height: 91vh;
}

footer {
  height: 4vh;
}

.title {
  color: var(--white);
}

.text {
  color: var(--papayawhip);
}

.list {
  list-style: none;
}
.btn-primary {
  background-color: var(--grey);
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border-color: var(--black);
}

.btn-primary:hover {
  background-color: var(--grey-light);
  color: var(--black);
  border: 0.2rem solid var(--black);
  box-shadow: 0.75rem 0.75rem 0.75rem var(--black);
}

.card {
  width: 17.5rem;
  height: 30rem;
  background-color: var(--grey-dark);
  color: var(--papayawhip);
}

.card-img-top {
  width: 100%;
  height: 12rem;
}

.cartList {
  width: 100%;
}

.fa-shopping-cart {
  position: absolute;
  top: 1.15rem;
  right: 1.15rem;
  color: var(--black);
  font-size: 1.5rem;
}

#cart-count {
  text-align: center;
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  background-color: var(--green);
  position: absolute;
  top: 1.15rem;
  right: 0.25rem;
  color: var(--white);
  font-size: 0.8rem;
  line-height: 1.15rem;
  transform: translateY(-50%);
}

.list-description {
  position: absolute;
  left: 2.5rem;
  bottom: 1rem;
}

.price {
  position: absolute;
  bottom: 1.25rem;
  right: 0.75rem;
  color: var(--grey-light);
  text-shadow: 0.25rem 0.25rem 0.25rem var(--black);
}

.addButton {
  position: absolute;
  bottom: 1.25rem;
}

.buyButton {
  background-color: var(--black);
}
.buyButton:hover {
  background-color: var(--white);
  color: var(--black);
}

.list-group-item {
  background-color: var(--grey-darker);
  color: var(--white);
}
.cuotasCarrito {
  background-color: var(--grey-dark);
  color: var(--white);
}

.fa {
  color: var(--black);
}

.fa:hover {
  color: var(--grey-dark);
}

.copyright {
  text-align: center;
}

@media (max-width: 375px) {
  .list-description {
    position: relative;
    left: 0;
    bottom: 0;
  }
}
